<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/GRL/IdeaProjects/SeleniumAutoProject/src/test/java/Day35"><classes><class name="Day35.AllannotationsDemo"><methods><include name="tm1"/><include name="tm2"/></methods></class><class name="Day35.Annotations1beforem"><methods><include name="search"/><include name="advsearch"/></methods></class><class name="Day35.AnnotationsClassM"><methods><include name="loginpage"/><include name="validation"/></methods></class></classes></test></suite>